<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="30 seconds">

    <timestamp key="byHour" datePattern="yyyyMMddHH"/>
    <timestamp key="byDay" datePattern="yyyyMMdd"/>
    <property name="logDir" value="log" />

    <!-- 普通的日志窗口输出 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <!-- 对日志进行格式化 -->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%thread] %logger{36} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <!-- 日志级别过滤 -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>

    <!-- 文件日志输出 -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${logDir}/file/${byDay}/logbackFile-${byHour}.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%thread] %logger{36} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <!-- 日志级别过滤 -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>

    <!-- 文件滚动日志基于时间的输出 -->
    <appender name="ROLL_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logDir}/time/%d{yyyyMMdd}/rollingFile-%d{yyyyMMddHH}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%thread] %logger{36} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <!-- 日志级别过滤 -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>

    <!-- 文件输出基于文件大小和时间 -->
    <appender name="ROLL_SIZE_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logDir}/size-time/sizeTime.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- each file should be at most 100MB, keep 60 days worth of history, but at most 20GB -->
            <fileNamePattern>${logDir}/size-time/%d{yyyyMMdd}/sizeTime-%d{yyyyMMddHH}-%i.log</fileNamePattern>
            <maxFileSize>2MB</maxFileSize>
            <maxHistory>60</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%thread] %logger{36} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <!-- 日志级别过滤 -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>

    <!-- 文件输出基于窗口滚动 -->
    <appender name="WIND" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logDir}/wind/wind.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${logDir}/wind/%d{yyyyMMdd}/wind-%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>20</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>2MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%thread] %logger{36} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <!-- 日志级别过滤 -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>
    
    <!-- additivity 为 false 则子 Logger 只会在自己的 appender 输出，不会在 root 中输出 -->
    <!-- <logger name="cn.nihility" level="DEBUG" addtivity="false" /> -->
    <!-- <logger name="org.springframework.jdbc.core.JdbcTemplate" level="DEBUG" addtivity="false" /> -->

    <root level="DEBUG">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
        <appender-ref ref="ROLL_FILE" />
        <appender-ref ref="ROLL_SIZE_FILE" />
        <appender-ref ref="WIND" />
    </root>

</configuration>