<?xml version="1.0" encoding="UTF-8"?>
<configuration status="INFO" monitorInterval="60">

  <Properties>
    <property name="LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%X{TraceId}] [%thread] %logger{36} - %msg%xEx%n"/>
  </Properties>

  <appenders>
    <console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="${LOG_PATTERN}"/>
      <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
    </console>
  </appenders>

  <Loggers>
    <Root level="DEBUG">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</configuration>