<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authentication Login</title>
</head>
<body>

<form action="/auth/login" method="post">
    <p>
        <label for="username">用户名：</label>
        <input id="username" type="text" name="username"/> <br/>
    </p>
    <p>
        <label for="password">密码：</label>
        <input id="password" type="password" name="password"/> <br/>
    </p>
    <input name="redirect" type="hidden" th:value="${redirect}">
    <!--<input name="_csrf" type="hidden" value="1bb16687-e11f-4f9b-ae2e-3f9a3eaab491">-->
    <input type="submit" value="登录">
</form>

</body>
</html>